<ion-modal-view ng-controller="linkCtrl">
	<!-- 顶部 -->
	<ion-header-bar class="mfblue" align-title="left">
		<div style="width:33px;cursor:pointer;margin-left:8px;">
			<img style="width:33px;" src="img/logo-p.png">
		</div>
		<h2 class="title">掌文</h2>
		<button class="button button-clear color-white font-size-15" ng-click="closeModal()">关闭</button>
	</ion-header-bar>
	<!-- 中央 -->
	<ion-content class="stable-bg" has-bouncing="true">
		<!-- 呈现-->
		<div ng-if="shown.state == 1">
			<div class="item item-avatar pan-item">
				<!-- 文件信息 -->
				<img style="border-radius: 0;" ng-src="{{resource.src}}">
				<h2 ng-bind="resource.filename" style="line-height: 20px;white-space: normal;"></h2>
				<!-- 分享人信息 -->
				<p>
					<span>来自</span>
					<span ng-bind="shareUser.username" style="color: #4CB8F3;cursor: pointer;" ng-click="operate({type:'showUser',id: shareuser.id})"></span>
					<span>的分享</span>
			  	</p>
			  	<p>
			  		<span>分享于</span>
			  		<span ng-bind="share.createtime"></span>
			  	</p>
				<p>文件大小：<span ng-bind="resource.filesize" style="font-size: 12px;color: gray;"></span></p>
				<!-- pdf/office -->
				<p ng-if="resource.preview == 'office' || resource.preview == 'pdf'">总页数：<span ng-bind="resource.imagenumber" style="font-size: 12px;color: gray;"></span></p>
			</div>
			<!-- image/office/pdf -->
			<div ng-if="resource.preview == 'image' || resource.preview == 'pdf' || resource.preview == 'office'" class="item stable-bg" style="padding: 5px;text-align: center;">
				<img ng-if="resource.photo" ng-src="{{resource.photo}}" ng-click="operate({type: 'preview'})" img-load-error="img/exception/preview-error.png" style="max-width: 100%;max-height: 300px;">
			</div>
			<!--video/audio媒体-->
			<div ng-if="resource.preview == 'video' || resource.preview == 'audio'">
				<media-player ng-if="media" source="media" request-play="requestPlay"></media-player>
			</div>
			<!--txt-->
			<div ng-if="resource.preview == 'txt'" ng-click="operate({type: 'previewText'})" style="margin: 5px 20px;padding: 20px;background: #fff;cursor: pointer;">
				<p ng-bind="txtContent" style="white-space: pre-line;overflow: hidden;height: 360px;line-height: 30px;color: #555;"></p>
			</div>
			<!-- 非预览 -->
			<div ng-if="!resource.preview" class="item item-image">
				<img ng-src="{{resource.photo}}" style="width: 100px;margin: 10px 0;">
				<h2 style="color: gray;font-size: 12px;">暂时无法打开该类型文件</h2>
				<br/>
			</div>
		</div>
		<!-- 异常 -->
		<div ng-if="shown.state == 2" class="card" style="margin-top:30px;">
			<div class="item" style="text-align:center;color:#ddd;">
				<h2 style="font-size:17px;"><i class="icon ion-alert-circled assertive" style="font-size:22px;"></i> {{shown.des}}</h2>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="mfblue hx-flex-justify-content" style="padding:0;padding-top: 2px;color: #fff;">
			<a class="tab-item" style="opacity: 1;" ng-click="operate({type: 'save'})">
				<i class="icon ion-ios-filing" style="height: 20px;font-size: 24px;"></i>
				<span class="tab-title" style="font-size: 12px;">保存</span>
			</a>
			<a class="tab-item" style="opacity: 1;" ng-click="operate({type: 'download'})">
				<i class="icon ion-ios-cloud-download" style="height: 20px;font-size: 20px;"></i>
				<span class="tab-title" style="font-size: 12px;">下载</span>
			</a>
	</ion-footer-bar>
</ion-modal-view>