<!-- 新建zlt文件 -->
<ion-modal-view>
	<ion-header-bar class="mfblue">
		<button class="button button-clear" style="color: #fff;font-size: 14px;" ng-click="closeModal()">取消</button>
		<h2 class="title">新建文件</h2>
	</ion-header-bar>
	<ion-content class="stable-bg">
		<div class="row">
			<div class="col" style="text-align: center;border: 2px dashed #ddd;" ng-click="newListFile()">
				<img src="img/filetype/zlt.png" style="max-width: 60px;max-height: 60px;">
				<p style="font-size: 12px;">计划任务,备忘录</p>
			</div>
		</div>
	</ion-content>
</ion-modal-view>