<!-- 掌秀设置 -->
<ion-view hide-back-button="true" view-title="操作提示 ">
	<!-- 回退按钮 -->
	<ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear header-item" ng-click="jumpToScan()">
			<i class="icon ion-ios-arrow-back">
				<span class="back-text" >返回</span>
			</i>
		</button>
	</ion-nav-buttons>
	<!-- 中央 -->
	<ion-content class="stable-bg" has-bouncing="true">
		<ion-list>
			<ion-item class="item-divider item-text-wrap">
				<p>掌秀正在恢复出厂设置中，您的手机与掌秀会断开。系统重启后，请查看待机画面右上角，第二行IP地址显示完整后，请将手机无线网络重新连接到第一行显示的名称上</p>
			</ion-item>
			<div style="text-align:center;">
				<img src="img/about/zxtip1.png" style="max-width: 100%;width:60%;"/>
			</div>
			<ion-item class="item-divider item-text-wrap" style="border: 0;">
				<p>手机当前连接的网络为:<strong>{{dev.newName}}</strong></p>
			</ion-item>
			 <div style="padding: 12px 0;" class="flex-box">
   				<button class="button button-calm button-block" style="border-radius: 40px;margin: 0 5px;" ng-click="gotowifi()" >去设置</button>
             	<button class="button button-positive button-block" style="border-radius: 40px;margin: 0 5px;" ng-click="jumpToScan()" >已设置</button>
         	</div>
		</ion-list>
	</ion-content>
</ion-view>