<!-- 新联系人 -->
<ion-view hide-back-button="true" view-title="新联系人">
	<!-- 返回按钮 -->
	<ion-nav-buttons side="left">
		<button ui-sref="tab.contact" class="button back-button buttons button-clear header-item">
			<i class="icon ion-ios-arrow-back">
				<span class="back-text" ng-bind="$ionicHistory.backTitle()"></span>
			</i>
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button ng-if="isApp" class="button button-clear" ng-click="openPopover($event)" style="min-width: 20px;">
			<i class="icon ion-android-menu"></i>
		</button>
	</ion-nav-buttons>
	<ion-content class="stable-bg" has-bouncing="true">
		<!-- 下拉刷新 -->
		<ion-refresher on-refresh="getInvitePage()"></ion-refresher>
		<!-- 申请 -->
		<ion-list  class="pan-list">
			<!-- 手机联系人 -->
			<ion-item ng-if="users.length>0" class="item-driver" style="padding-top:5px;padding-bottom:5px; background-color:#f5f5f5;">
				<h2 style="font-size: 14px;">申请消息</h2>
			</ion-item>
			<!-- mobile展示方式 -->
			<div ng-if="!isHD">
				<ion-item class="item-avatar item-icon-right" ng-repeat="user in users | orderBy: '-itime'" ng-click="operate({action:'clickUser',user:user,$event: $event})">
					<img ng-src="{{user.avatar}}"  onerror="onProfilePicError(this)">
					<h2 ng-bind="user.username"></h2>
					<p>{{user.msg}}</p>
					<p ng-if="user.groupname">申请加入 {{user.groupname}}</p>
					<p ng-if="!user.groupname">申请加您好友</p>
					<i class="icon">
						<button ng-if="user.state == 0" class="button button-small button-balanced" ng-click="operate({'action':'accept','user':user,event:$event})" style="padding: 0px 8px;">接受</button>
						<button ng-if="user.state == 1" class="button button-small button-stable button-clear" ng-click="operate({$event: $event})">已添加</button>
						<button ng-if="user.state == 2" class="button button-small button-balanced" ng-click="operate({action:'add',user:user,event:$event})">添加</button>
						<!-- <button class="button button-small button-assertive button-outline" style="margin-left: 5px;" ng-click="operate({'action':'deleteInvite','user':user,$event:$event})">删除</button> -->
					</i>
					<ion-option-button class="button-assertive" ng-click="operate({'action':'deleteInvite','user':user,$event:$event})">删除</ion-option-button>
				</ion-item>
			</div>
			<!-- HD展示方式 -->
			<div ng-if="isHD">
				<ion-item class="item-avatar item-hd" ng-repeat="user in users | orderBy: '-itime'" ng-click="operate({action:'clickUser',user:user,$event: $event})" ng-style="{'height': user.showTool ? '130px' : '78px'}">
					<img ng-src="{{user.avatar}}"  onerror="onProfilePicError(this)">
					<h2 ng-bind="user.username"></h2>
					<p>{{user.msg}}</p>
					<p ng-if="user.groupname">申请加入 {{user.groupname}}</p>
					<p ng-if="!user.groupname">申请加您好友</p>
					<i class="item-right-icon icon-file-open " style="height: 78px;">
						<button ng-if="user.state == 0" class="button button-small button-balanced flex-auto" ng-click="operate({'action':'accept','user':user,event:$event})">接受</button>
						<button ng-if="user.state == 1" class="button button-small button-stable button-clear flex-auto" ng-click="operate({$event: $event})">已添加</button>
						<!-- <button ng-if="user.state == 2" class="button button-small button-balanced" ng-click="operate({action:'add',user:user,event:$event})">添加</button> -->
					</i>
					<!-- 下拉按钮 -->
					<i class="item-right-icon dropButton" style="height: 78px;" ng-click="operate({action: 'toolMenu',user: user,$event: $event})">
						<i ng-if="!user.showTool" class="icon ion-ios-arrow-down"></i>
						<i ng-if="user.showTool" class="icon ion-ios-arrow-up"></i>
					</i>
					<!-- 菜单栏 -->
					<div ng-if="user.showTool" class="row hx-flex-justify-content" ng-click="operate({$event: $event})">
						<a class="col red-color" ng-click="operate({'action':'deleteInvite','user':user,$event:$event})">
							<i class="ion-ios-trash"></i>
							<span>删除</span>
						</a>				
					</div>
				</ion-item>
			</div>
			
			<!-- 手机联系人 -->
			<ion-item ng-if="mcontacts.length>0" class="item-driver" style="padding-top:5px;padding-bottom:5px; background-color:#f5f5f5;">
				<h2 style="font-size: 14px;">手机联系人</h2>
			</ion-item>
			<!-- mobile展示方式 -->
			<div ng-if="!isHD">
				<ion-item class="item-avatar item-icon-right" ng-repeat="user in mcontacts" ng-click="operate({action:'clickUser',user:user})">
					<img ng-src="{{user.avatar}}"  onerror="onProfilePicError(this)">
					<h2 >{{user.mname}}</h2>
					<p>{{user.mmobile}}</p>
					<!-- 发消息 
					<ion-option-button ng-if="$root.USER.id != user.id" class="button-positive" ng-click="operate({action:'sendMsg',user:user,$event: $event})">发送<br/>消息</ion-option-button>-->
					<ion-option-button class="button-assertive" ng-click="operate({'action':'deleteMcontact','user':user,$event:$event})">移除</ion-option-button>
				</ion-item>
			</div>
			<!-- HD展示方式 -->
			<div ng-if="isHD">
				<ion-item class="item-avatar item-hd" ng-repeat="user in mcontacts" ng-click="operate({action:'clickUser',user:user})" ng-style="{'height': user.showTool ? '112px' : '60px'}">
					<img ng-src="{{user.avatar}}"  onerror="onProfilePicError(this)">
					<h2 >{{user.mname}}</h2>
					<p>{{user.mmobile}}</p>
					<!-- 下拉按钮 -->
					<i ng-if="$root.USER.id != user.id" class="item-right-icon dropButton" ng-click="operate({action: 'toolMenu',user: user,$event: $event})">
						<i ng-if="!user.showTool" class="icon ion-ios-arrow-down"></i>
						<i ng-if="user.showTool" class="icon ion-ios-arrow-up"></i>
					</i>
					<!-- 菜单栏 -->
					<div ng-if="user.showTool" class="row hx-flex-justify-content" ng-click="operate({$event: $event})">
						<!--  
						<a ng-if="$root.USER.id != user.id" class="col" ng-click="operate({action:'sendMsg',user:user,$event: $event})">
							<i class="ion-chatbox"></i>
							<span>发送消息</span>
						</a>-->
						<a class="col red-color" ng-click="operate({'action':'deleteMcontact','user':user,$event:$event})">
							<i class="ion-ios-trash"></i>
							<span>移除</span>
						</a>				
					</div>
				</ion-item>
			</div>
		</ion-list>
		<!-- 上拉刷新 -->
		<ion-infinite-scroll ng-if="pageConfig.mcontacts.hasMore" on-infinite="pagingForGetInvitePage()"></ion-infinite-scroll>
	</ion-content>
</ion-view>