<!-- 密码修改 -->
<ion-view view-title="修改密码" cache-view="false">
	<!-- 中央 -->
	<ion-content class="stable-bg" has-bouncing="true">
		<!-- 密码表单 -->
		<form name="pwdform" ng-submit="updatePwd()" novalidate>
		<ion-list>
			<ion-item ng-if="!validation">
				<input type="password" name="oldpwd" ng-model="form.oldpwd" style="width:100%;" placeholder="请输入旧密码" minlength="5" required"> 
			</ion-item>
			<ion-item>
				<input type="password" name="pwd1" ng-model="form.pwd1" style="width:100%;" placeholder="请输入新密码" minlength="5" required> 
				<label style="color: red" ng-show="pwdform.pwd1.$error.minlength">密码长度不低于5位</label>
				<label style="color: green" ng-show="pwdform.pwd1.$valid">密码可用</label>
			</ion-item>
			<ion-item>
				<input type="password" name="pwd2" ng-model="form.pwd2" style="width:100%;" placeholder="再次输入新密码" required ui-validate=" '$value == form.pwd1'" ui-validate-watch="'pwdform.pwd1'">
				<label style="color: red" ng-show="pwdform.pwd2.$error.validator">两次密码不一致</label>
				<label style="color: green" ng-show="pwdform.pwd2.$valid">输入正确</label>
			</ion-item>
		</ion-list>
		<div style="margin-top:20px;"><button type="submit" class="button button-block button-positive" ng-disabled="pwdform.$invalid" style="max-width:300px;margin:auto;">确认修改</button></div>
		</form>
	</ion-content>
</ion-view>