<!-- 文件详情-右上菜单 -->
<ion-popover-view style="height:105px;">
	<ion-list>
		<ion-item class="mfblue" style="color:#fff;" ng-click="operate({type: 'rename'})">
			重命名
		</ion-item>
		<ion-item class="mfblue" style="color:#fff;" ng-click="operate({type: 'moveResource'})">
			移动
		</ion-item>
		<ion-item class="mfblue" style="color:#fff;" ng-click="operate({type: 'download'})">
			下载文件
		</ion-item>
		<ion-item class="mfblue" style="color:#fff;" ng-click="operate({type: 'share'})">
			分享
		</ion-item>
		<ion-item class="mfblue" style="color:#fff;" ng-click="operate({type: 'deleteResource'})">
			删除
		</ion-item>
	</ion-list>
</ion-popover-view>