<!-- 显示外部页面-右上角菜单 -->
<ion-popover-view style="height:44px;">
	<ion-list>
		<!-- 
		<ion-item class="item-icon-left mfblue" style="color:#fff;" ng-click="operate({action:'sendFriend'})">
			<i class="icon ion-android-contacts"></i>发送给联系人
		</ion-item> -->
		<ion-item class="item-icon-left mfblue" style="color:#fff;" ng-click="copyLink()">
			<i class="icon ion-android-contacts"></i>复制链接
		</ion-item>
		<ion-item class="item-icon-left mfblue" style="color:#fff;" ng-click="openInBrower()">
			<i class="icon ion-android-contacts"></i>浏览器中打开
		</ion-item>
	</ion-list>
</ion-popover-view>